@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

// text-colors
$color-orange-dark: #e77b00;
$color-orange-light: #ffa64c;

$color-background-blue: rgb(225, 247, 255);
$color-background-pink: #ffe4fe;

// fonts

$font-montserrat: "Montserrat", sans-serif;
$font-sacramento: "Sacramento", cursive;

//media query manager

/* 

0 - 600px: Phone
600 - 900px: tablet portrait
[1200 - 1800] is where our normal styles apply
1800px + : Big desktop


*/

// @mixin respond-phone {
//   @media (max-width: 600px) {
//     @content;
//   }
// }

/*
$breakpoint argument choices
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px

*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      //600px
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      //900px
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      //1200px
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      //1800px
      @content;
    }
  }
}
