@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

// text-colors
$color-orange-dark: #e77b00;
$color-orange-light: #ffa64c;

$color-background-blue: rgb(225, 247, 255);
$color-background-pink: #ffe4fe;

// fonts

$font-montserrat: "Montserrat", sans-serif;
$font-sacramento: "Sacramento", cursive;
