@import "../variables/Variables.scss";

.section {
  &-about {
    // height: 100vh;
  }

  &-container {
    position: relative;
    margin: 10rem;
    padding: 4rem 0;

    @include respond(phone) {
      margin: 1rem;
    }

    border-radius: 2rem;

    background-color: $color-background-pink;

    background-image: linear-gradient(
      to bottom,
      rgb(255, 251, 239) 5.533854166666667%,
      rgb(255, 230, 209) 96.67968749999999%
    );

    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    // background-image: linear-gradient(
    //   to top,
    //   $color-background-blue,
    //   #ffecc8,
    //   $color-background-pink
    // );
  }

  &-pic {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  &-heading-primary {
    font-size: 4rem;
    font-family: $font-montserrat;
    text-align: center;
    padding: 3rem 0;
  }
  &-description {
    font-size: 1.7rem;
    font-weight: 400;
    font-family: $font-montserrat;
    text-align: center;
    padding: 0rem 11rem;

    @include respond(phone) {
      padding: 0rem 3rem;
    }
    line-height: 3rem;
    // padding-bottom: 6rem;
    // border-bottom: dotted;
    // border-width: 0.5rem;
  }
  &-heading-secondary {
    margin-top: 10rem;
    // border-top: solid;
    // border-width: 1rem;
    // border-color: $color-background-blue;

    font-size: 3rem;
    font-family: $font-montserrat;
    text-align: center;
    padding: 3rem 0;
  }
  &-skills {
    display: flex;
    padding: 2rem 10rem;
    // padding-left: 10rem;
    // padding-right: 10rem;
    align-items: stretch;
    justify-content: space-around;
    // background-color: yellow;
    flex-wrap: wrap;
    // height: 20rem;

    @include respond(phone) {
      padding: 02rem 4rem;
    }

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      @include respond(phone) {
        padding: 1.5rem 1.5rem;
      }
    }

    &-caption {
      font-size: 1.2rem;
      padding-bottom: 0.5rem;
      font-family: $font-montserrat;
    }

    &-image {
      width: 8rem;
      transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

      filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5));

      &:first-child {
        animation: rotate 5s infinite linear;
      }

      &:hover {
        transform: scale(1.2);
      }

      @include respond(phone) {
        width: 5rem;
      }
    }

    &-image-7 {
      width: 6rem;
      transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      // animation: halfRotate 1.5s;
      filter: drop-shadow(0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5));
      &:hover {
        transform: scale(1.2);
      }

      @include respond(phone) {
        width: 4rem;
      }
    }
  }

  &-btn {
    margin-top: 3rem;
    margin-bottom: 2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  // 50% {
  //   transform: rotate(180deg);
  // }
  to {
    transform: rotate(359deg);
  }
}

@keyframes halfRotate {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(160deg);
  }

  100% {
    transform: rotate(0);
  }
}
