@import "../variables/Variables.scss";
.btn {
  cursor: pointer;
  font-size: 1.75rem;
  background-color: $color-orange-light;
  border-radius: 2rem;
  display: inline-block;
  padding: 1.5rem;
  transition: all 0.2s;
  font-family: $font-montserrat;
}

.btn:hover {
  transform: translateY(-0.5rem) scaleX(1.1);
  background-color: $color-orange-dark;
  color: rgb(255, 185, 93);

  // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.btn:active {
  transform: translateY(-0.2rem);
}
