@import "../variables/Variables.scss";

.section {
  &-contact {
    // background-image: url("../images/grey-1.webp");
    // background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10rem;
    padding-bottom: 10rem;
    font-family: $font-montserrat;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    // margin-left: 20rem;
    // background-color: yellow;
    // height: 100vh;
  }

  &-heading-primary {
    font-family: $font-sacramento;
    font-size: 6rem;
    padding-bottom: 5rem;
    // color: $color-orange-dark;
    @include respond(phone) {
      font-size: 8rem;
      padding-bottom: 1rem;
    }
  }

  &-container {
    padding: 5rem;
    width: 50%;

    background-size: cover;
    background-image: linear-gradient(
      113.26770481005701deg,
      rgba(224, 247, 135, 1) 5.533854166666667%,
      rgba(78, 227, 250, 1) 96.67968749999999%
    );
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 2rem;
    display: flex;

    @include respond(tab-land) {
      width: 80%;
    }
    @include respond(phone) {
      width: 95%;
      flex-direction: column;
      align-items: center;
    }

    &--1 {
      display: flex;
      flex-direction: column;

      @include respond(phone) {
        align-items: center;
      }

      &-bird {
        height: auto;
        width: 5rem;
        @include respond(phone) {
          width: 7rem;
        }

        &:hover {
          animation-name: Jump;
          animation-duration: 1s;
        }

        // align-self: center;
      }

      &-icons {
        display: flex;

        img {
          height: 2.5rem;
          padding: 0 1rem;
          align-self: center;
          transition: all 0.5s;
          &:hover {
            transform: rotate(360deg) scale(1.3);
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          }
          @include respond(phone) {
            height: 4rem;
          }
        }
      }

      h2 {
        font-size: 2rem;
        padding-bottom: 0.7rem;
        color: $color-orange-dark;
        @include respond(phone) {
          font-size: 3rem;
        }
      }
      h5 {
        font-size: 1rem;
        padding-bottom: 0.9rem;
        @include respond(phone) {
          font-size: 1.2rem;
          padding-bottom: 1.8rem;
        }
      }
    }

    &--2 {
      display: flex;
      flex-direction: column;
      padding-left: 4rem;

      flex-grow: 1;

      @include respond(phone) {
        padding-top: 5rem;
        flex-grow: 0;
        width: 100%;
      }

      p {
        margin-top: -1rem;
        font-family: $font-montserrat;
        font-size: 1.5rem;
        color: $color-orange-dark;
      }

      input {
        font-size: 1.2rem;
        font-family: $font-montserrat;
        background-color: transparent;
        border: none;
        border-bottom: solid 1px;
        border-color: grey;
        padding-bottom: 1rem;
        padding-top: 1rem;
        transition: all 0.2s ease;

        @include respond(phone) {
          font-size: 1.5rem;
          padding-bottom: 1.5rem;
          padding-top: 1.5rem;
        }
      }

      input:focus {
        border: none;
        border-bottom: solid 1px;
        border-color: $color-orange-light;
      }
      textarea {
        font-size: 1.2rem;
        font-family: $font-montserrat;
        background-color: transparent;
        border: none;
        border-bottom: solid 1px;
        border-color: grey;
        padding-bottom: 1rem;
        padding-top: 1rem;
        height: 12rem;

        @include respond(phone) {
          font-size: 1.5rem;
          padding-bottom: 1.5rem;
          padding-top: 1.5rem;
        }
      }
      &--btn {
        align-self: center;

        padding-top: 2rem;
        button {
          background-color: transparent;
          border: none;
          padding: 0.7rem;
          font-family: $font-montserrat;
          color: $color-orange-dark;
          font-size: 2rem;
          cursor: pointer;
          transition: all 0.2s;

          &:hover {
            background-color: $color-orange-dark;
            color: white;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border-radius: 0.5rem;
          }
        }
      }
    }
  }
}

@keyframes Jump {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translateY(-3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0) scale(1);
  }
}
